In [1]:
import pandas as pd
import numpy as np
#for excute the program ham use karte h [shift+enter] taki naye jupyter mei kar sake rest part of the question.

In [29]:
#example and syntax for writting raw data into tabular form by using pandas library and numpy library.
dict1={
    "name":["khush","raunak","rishabh","omkar","abhijeet"],
    "age":[19,20,21,19,18],
    "height":["5.8ft","5.9ft","5.10ft","5.8ft","5.10ft"]
}

In [30]:
#SYNTAX for raw data to tabular form =>variable_name=pd(pandas).DataFrame(raw_data_name)
df = pd.DataFrame(dict1)

In [31]:
df

       name  age  height
0     khush   19   5.8ft
1    raunak   20   5.9ft
2   rishabh   21  5.10ft
3     omkar   19   5.8ft
4  abhijeet   18  5.10ft

In [43]:
#converting data to csv (excel form)
#SYNTAX =>variable_name.to_csv('csv_file_name.csv')
df.to_csv('parth.csv')

In [47]:
#ek baat yaad rakho jab bhi condition likho True/False usska phala letter jase T or F capital hu,nahi hoga tuh error ayega.
df.to_csv('parth_index_false.csv',index=False)